
body {
    margin: 0px;
    padding: 0px;
    background: #CBBB9A url(images/main-bg.jpg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #545454;
}
body {
    background: url('../images/wall-of-white-bricks-background_1100-187.jpg');
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    color: blue;
    font-style: bold;
}

p {
    line-height: 180%;
    color: #EAEAEA;
}

a {
    color: #EAEAEA;
}

img.alignleft {
    float: left;
}

img.alignright {
    float: right;
}

img.aligncenter {
    margin: 0px auto;
}
#tab {
    overflow: hidden;
    width: 1200px;
    margin: 50px auto;
    background: #ffffFF;
}

/** HEADER */

#header {
    overflow: hidden;
    height: 150px;
    background: url(images/img01.jpg) repeat-x left top;
}

/* Logo */

#logo
{
    float: left;
    width: 350px;
    padding: 30px 0px 0px 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: yellow;
}

#logo h1
{
    padding: 5px 10px 0px 0px;
}

#logo h1 a
{
    text-decoration: none;
    font-size: 10px;
    font-weight: 400;
    color: #FFFFFF;
}

#logo p
{
    display: block;
    margin-top: -10px;
    padding: 0px 0px 0px 0px;
    letter-spacing: 1px;
    font-size: 1.2em;
    color: #FFFFFF;
}

/* Menu */

#menu
{
    float: right;
    width: 700px;
    padding: 60px 50px 0px 0px;
}
#menu li:hover{
    background-color:#00ffff;
    }

#menu ul
{
    float: right;
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li
{
    float: left;
}

.menu ul li a {
    color: blue;
    font-style: bold;

}

#menu ul li a
{
    display: block;
    margin-left: 1px;
    padding: 7px 0px 7px 30px;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: blue;
    font-style: bold;
}


#menu a:hover, #menu .current_page_item a
{
    text-decoration: none;
    color: #FFFFFF;
}

/** PAGE */

#page {
    overflow: hidden;
    width: 1100px;
    padding: 50px 50px;
    background: #2E2E2E;
    color: #919191;
}

#page h2 {
    color: #FFFFFF;
}

/** CONTENT */
#data {
    text-align: center;
    
}
#content {
    float: left;
    width: 750px;
}

#form {
    float: left;
    width: 500px;
}
#content b {
    float: right;
    width: 470px;
    margin-top: 10px;
    
    }
    #content a{
    float: left;
    width: 720px;
    margin-top: 10px;
    }
/** SIDEBAR */

#sidebar {
    float: right;
    width: 300px;
 
}


/* Footer */

#footer {
    overflow: hidden;
    margin: 0px 50px;
    padding: 30px 0px;
    border-top: 5px solid #000000;
}

#footer p {
    text-align: center;
    font-size: 12px;
}

#footer a {
    color: #545454;
}

/* Three Column */

#kolom-ketiga {
    overflow: hidden;
    margin: 0px 50px;
    padding: 50px 0px;
}

#kolom-ketiga #tbox1 {
    float: left;
    width: 400px;
    margin-right: 50px;
}

#kolom-ketiga #tbox2 {
    float: left;
    width: 300px;
}

#kolom-ketiga #tbox3 {
    float: right;
    width: 300px;
}

/* List Style 1 */

ul.style1 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.style1 li {
    padding: 10px 0px 15px 0px;
    border-top: 1px solid #E6E7DC;
}

ul.style1 a {
    text-decoration: none;
    color: #545454;
}

ul.style1 a:hover {
    text-decoration: underline;
}

ul.style1 .first {
    padding-top: 0px;
    border-top: none;
}


/* List style 2 */

ul.style2 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.style2 li {
    padding: 25px 0px 15px 0px;
    border-top: 1px solid #525253;
}

ul.style2 .first {
    padding-top: 0px;
    border-top: none;
}

ul.style2 h3 {
    padding: 0px 0px 10px 0px;
}

ul.style2 h3 a {
    color: #E4E4E6;
}

ul.style2 a {
    text-decoration: none;
    color: #919191;
}

ul.style2 a:hover {
    text-decoration: underline;
}

/* Button Style 1 */

.button-style {
    display: inline-block;
    margin-top: 20px;
    padding: 7px 20px;
    background: #333;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}















